// COLORS

$header: #010110;
$white: #fff;
$primary: #e56d91;
$btn-hov: #ce6282;
$bonus: #ff00ff;
$bonus-hov: #ff0000;
$black: #000;

// FONT SIZE

$base-font-size: 10px;

// MEDIA BREAKPOINTS

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
